<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--        <bean class="com.imooc.basic.model.Product"-->
<!--              id="product"-->
<!--              init-method="myInit"-->
<!--              destroy-method="myDestroy">-->

<!--        </bean>-->
<!--        <bean class="com.imooc.basic.convert.MyDateConverter" id="myDateConverter">-->
<!--                <property name="pattern" value="yyyy-MM-dd "/>-->
<!--        </bean>-->
<!--        <bean class="com.imooc.basic.model.User" id="user">-->
<!--                <property name="id" value="1"/>-->
<!--                <property name="name" value="kk"/>-->
<!--                <property name="date" value="2021/01/17 "/>-->
<!--        </bean>-->
        <bean class="com.imooc.basic.model.Account" id="account">
                <property name="id" value="1"/>
                <property name="balance" value="100"/>
        </bean>
        <bean class="com.imooc.basic.postProcessor.MyBeanPostProcessor" id="postProcessor"/>
<!--        <bean class="org.springframework.context.support.ConversionServiceFactoryBean" id="conversionService">-->
<!--                <property name="converters">-->
<!--                        <set>-->
<!--                                <ref bean="myDateConverter"/>-->
<!--                        </set>-->
<!--                </property>-->
<!--        </bean>-->
</beans>