<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!--    <bean id="customer" class="com.imooc.basic.model.Customer">-->
<!--        <constructor-arg value="kk"/>-->
<!--        <constructor-arg value="18"/>-->
<!--    </bean>-->
    <context:property-placeholder location="db.properties"/>
    <bean id="connection" class="com.imooc.basic.factoryBean.ConnectionFactoryBean">
        <property name="className" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="userName" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
<!--    <bean id="connectionFactory" class="com.imooc.basic.factoryBean.ConnectionFactory"/>-->
<!--    <bean id="conn" factory-bean="connectionFactory" factory-method="getConnection"/>-->
<!--    <bean id="conn" class="com.imooc.basic.factoryBean.ConnectionFactory" factory-method="getConnection"/>-->
<!--    <bean class="com.imooc.basic.model.Account" id="account" />-->

</beans>